body {
  background-color: #f7f9f8;
  font-family: 'Heebo', sans-serif;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.87);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
